@media (min-resolution: 2dppx) {
.a {
	width:25px;
	height:25px;
    background-image: url("sprite.@2x.png?v=2d055014");
    background-position: -0px -0px;
    background-size: 25px 50px!important;
    background-size: 25px 25px;
}

.b {
	width:25px;
	height:25px;
    background-image: url("sprite.@2x.png?v=2d055014");
    background-position: -0px -25px;
    background-size: 25px 50px!important;
    background-size: 25px 25px;
}
}